.research-section {
    padding: 120px 20px 60px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    background: var(--white);
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
}

h1 {
    color: var(--primary);
    font-size: 2.3rem;
    margin-bottom: 1rem;
}

h2 {
    margin-top: 2rem;
    color: var(--primary);
}

ul {
    list-style-type: none;
    padding-left: 0;
}

ul li {
    margin-bottom: 10px;
}

a {
    color: var(--primary);
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
}

a:hover {
    color: #083b73;
}
.results-image-section {
    margin-top: 2rem;
    text-align: center;
}

.results-image-section h2 {
    color: var(--primary);
    margin-bottom: 0.5rem;
}

.results-image-section p {
    font-size: 1rem;
    color: #444;
    margin-bottom: 1.2rem;
}

.results-image-wrapper {
    max-width: 100%;
    padding: 1rem;
    background: var(--light-gray);
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}

.results-image-wrapper img {
    max-width: 100%;
    height: auto;
    border-radius: 4px;
}
nav a.active {
    font-weight: bold;
    border-bottom: 2px solid;
    pointer-events: none; 
}
